<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" *ngFor="let number of oddNumbers">
            {{ number }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" *ngFor="let number of evenNumbers">
            {{ number }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Style with basicappdirective</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style with betterappdirective</p>
      <p *appUnless="onlyOdd">Rendered with structural directive</p>
    </div>
  </div>
</div>